body {
  background-color: #D6E5FA;
  font-family: 'Caveat', cursive;
}

/* Navbar */
.navbar {
  background-color: black;
  color: #D6E5FA;
  font-family: "Caveat", cursive;
}
.navbar-nav{
  text-align: right;
  margin-right: 5%;
}
.nav-link {
  font-size: 2vw;
  color: #D6E5FA;
}
.navbar-custom{
  background-color: #150050;
}
/* Top Container */
.top-container {
  background-color: #D6E5FA;
  text-align: left;
}
.title{
  font-size:4.5vw;
  color: #150050;
  margin: 5% 5%;
}

.intro{
  font-size: 3.5vw;
  margin-top: 15%;
}

/*Animations*/
.container-fluid{
  position:relative;
  margin-top: 15%;
}
#artstation{
position: absolute;
color: black;
animation-name: artstation;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;

}
@keyframes artstation {
  from {
    transform: rotate(-360deg);
    top: 0vw;
    left: 0;
    width: 0;
  }
  to {
    top:-20vw;
    left: 80vw;
    transition: width 2s;
    width: 8%;
  }
}
#joystick{
  position: absolute;
  color: black;
animation-name: joystick;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;
}
@keyframes joystick {
  from {
    transform: rotate(-360deg);
    top: 0vw;
    left: 0;
    width: 0;
  }
  to {
    top:-7.5vw;
    left: 85vw;
    transition: width 2s;
    width: 8%;
  }
}

#steam{
  position: absolute;
  color: black;
animation-name: steam;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;
}
@keyframes steam {
  from {
    transform: rotate(-360deg);
    top: 0vw;
    left: 0;
    width: 0%;
  }
  to {
    top: 5vw;
    left: 80vw;
    transition: width 2s;
    width: 8%;
  }
}

#twitch{
  position: absolute;
  color: black;
animation-name: twitch;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;
}
@keyframes twitch {
  from {
    transform: rotate(-360deg);
    top: 0vw;
    left: 0;
    width: 0%;
  }
  to {
    top: 5vw;
    left: 65vw;
    transition: width 2s;
    width: 8%;
  }
}
#tablet{
  position: absolute;
  color: black;
animation-name: tablet;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;
}
@keyframes tablet {
  from {
    transform: rotate(-360deg);
    top: 0;
    left: 0;
    width: 0%;
  }
  to {
    top: -7.5vw;
    left: 60vw;
    transition: width 2s;
    width: 8%;
  }
}
#pen{
  position: absolute;
  color: black;
animation-name: pen;
animation-duration: 4s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: both;

}
@keyframes pen {
  from {
    transform: rotate(-360deg);
    top: 0vw;
    left: 0;
    width: 0%;
  }
  to {
    top: -20vw;
    left: 65vw;
    transition: width 2s;
    width: 8%;
  }
}
.description {
  font-size: 1.5rem;
}

/*carousel*/
.gallery-text{
  color: #D6E5FA;
  background-color: black;
  margin-top: 15%;
}
.carousel-inner{
  background-image: url("blue.jpg");
}
.carousel{
  position: relative;
  text-align: center;
  color: white;
}

.carouselTitle{
  position: absolute;
}
.carousel-item {
position: relative;
margin-bottom: 15%;
}

.carousel-text {
  font-size: 3rem;
  line-height: 1.5;
}

.gallery-image {
  width: 30%;
}

/*About Me*/
.about-me{
  margin-top: 10%;
}
.about-title{
  background-color: black;
  color: #D6E5FA;
}
.aboutMeText{
  margin: 5%;
width: 50%;
float: right;
font-size: 2.5vw;
}
.aboutMeImage{
margin: 5%;
}

/*Footer*/
footer{
position: relative;
margin-top: 5%;
background-color: #150050;
color: #D6E5FA;
height: 10vw;
text-align: center;
}



/*GALLERY*/
/*albums*/
.galleryBackground {
  background-color: #D6E5FA;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.slideImage {
  border-style: solid;
  border-width: thick;
  border-color: black;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #0000;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: #D6E5FA;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  color:#D6E5FA;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*CONTACTS*/
.middle{
  background-color: #150050;
  color: #D6E5FA;
  height: 75vw;
  margin: 15% 0;
}
.bigger{
  font-size: 3.5vw;
}
.smaller{
  font-size: 2.5vw;
}
.contact-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vw;
  margin: 5%;
}
.first{
  background-color: #D6E5FA;
  color: #150050;
  line-height: 10vw;
  padding-top: 5% ;
  font-size: 1.5vw;
}
.second{
  background-color: #D6E5FA;
  box-sizing: border-box;
}
form{
  color: #150050;
  margin: 5% 5%;
}